<div class="est-text">
    <span></span>
    <p>EST. 2024</p>
</div>

<style>
    .est-text {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .est-text span {
        display: block;
        background-color: var(--color-text-dark);
        width: 24px;
        height: 2px;
    }

    .est-text p {
        color: var(--color-text-dark);
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
</style>
