<div class="hero-description">
    <p>
        Customization and Aesthetics: Allows quick and economical changes in the
        appearance of vehicles and objects, offering a variety of colors and
        finishes.
    </p>
</div>

<style>
    .hero-description {
        color: var(--color-text-light);
        border-left: 2px solid var(--color-primary);
        padding-left: 2rem;
    }

    .hero-description p {
        font-size: 1.2rem;
        line-height: 1.6;
        font-weight: lighter;
        max-width: 600px;
    }
</style>
