<div class="hero-title">
    <h2>We are</h2>
    <h1>BGW CALIFORNIA</h1>
</div>

<style>
    .hero-title {
        color: var(--color-text-light);
        font-size: 3rem;
    }

    .hero-title h2 {
        font-weight: 400;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--color-text-light);
    }

    .hero-title h1 {
        /* font-weight: 600; */
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--color-text-light);
    }
</style>
