---
import Button from "../Button.astro";
---

<div>
    <Button variant="outline">Contact Us</Button>
    <Button variant="link">See gallery</Button>
</div>

<style>
    div {
        display: flex;
        gap: 2rem;
        margin-top: 2rem;
    }
</style>
