* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: black;
}

:root {
    --primary-color: #111ee6;
    --secondary-color: #ffffff;
    --accent-color: #333333;
    --background-color: #000000;
    --text-color: #ffffff;
}